@use "../../styles/variables.scss";

.form-input-container {
  display: flex;
  flex-direction: column;
  position: relative;

  & > label {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: variables.$secondary-default;
  }
}

.form-input {
  height: 44px;
  border: 1px solid variables.$secondary-xsm;
  border-radius: 4px;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  color: variables.$secondary-default;
  margin: 8px 0px;

  &::placeholder {
    color: variables.$black-500;
  }

  &:focus {
    border: 2px solid variables.$main-default;
    padding: 10px 13px;
  }

  &--password {
    &::placeholder {
      margin-top: 1px;
    }
  }

  &--error {
    border: 2px solid variables.$error-default;
  }
}

.form-input__error-message {
  color: variables.$error-lg;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.4px;
  position: absolute;
  bottom: 0px;
  margin-bottom: -8px;
}